.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  .carousel-slide img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .carousel-slide.active {
    flex: 0 0 100%;
    max-width: 100%;
    opacity: 1;
  }
  